[Unit]
Description=DIMO Bluetooth Service
After=hciuart.service
After=bluetooth.service
After=bthelper@hci0.service
Requires=hciuart.service
Requires=bluetooth.service
Requires=bthelper@hci0.service

[Service]
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/edge-network
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target